.FullPost p {
    margin: 20px 10vw;
    line-height: 2;
}
.TitleImageContainer {
    padding-top: 100px;
}
.TitleImage {
    box-shadow: 0 2px 2px 0 black;
    border-radius: 1%;
    max-width: 60vw;
    max-height: 60vh;
}
.FullPost h2 {
    margin-bottom: 20px;
    font-size: 4vw; 
    font-family: cursive;
}
.FullPost h5 {
    font-size: 2vw; 
    margin-bottom: 50px;
}
.FullPost {
    white-space: pre-wrap;
}

.OtherImage {
    height: 300px;
    width: auto;
    box-shadow: 0 1px 2px 0 black;
    border-radius: 1%;
    margin: 20px;
}
.OtherImages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}