.NavigationItem {
  display: flex;
  text-decoration: none;
  box-sizing: border-box;
  color: Black;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.NavigationItem:hover,
.NavigationItem:active,
.NavigationItem.active {
  border-bottom: 3px solid olivedrab;
}