.Paragraph {
  padding: 15px 0;
  margin: auto;
}
.Paragraph p {
  font-family: Helvetica, Arial, sans-serif;;
  font-size: 2em;
  margin: 0 15px;
  line-height: 40px;
}
.Paragraph img {
  height: 20vw;
  max-width: 90vw;
  width: auto;
  border-radius: 50%;
  margin: 15px auto;
  box-shadow: rgba(20, 20, 20, 0.5) 0px 4px 10px -1px;
}
.Paragraph img.Left {
  float: left;
  clear: left;
}
.Paragraph img.Right {
  float: right;
  clear: right;
}
.Paragraph h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 32px;
}


@media (max-width: 1000px) {
  .Paragraph {
    text-align: center;
    width: 100vw;

  }
  .Paragraph img {
    height: 30vh;
    margin: 0px 10px;
    text-align: center;
  }
  .Paragraph img.Left {
    float: none;
    clear: none;
    text-align: center;
  }
  .Paragraph img.Right {
    float: none;
    clear: none;
    text-align: center;
  }
  .Paragraph p {
    font-size: 1.25em;
    text-align: center;
  }
  .Paragraph h2.Left {
    clear: none;
  }
  .Paragraph h2.Right {
    clear: none;
  }
  .Paragraph p.Right {
    text-align: center;
    clear: none;
  }
  .Paragraph p.Left {
    text-align: center;
    clear: none;
  }
}