.Paragraph {
  padding: 20px;
}
.Paragraph p {
  font-family: cursive;
  font-size: 2em;
}
.Paragraph img {
  width: 20vw;
  height: auto;
  border-radius: 50%;
  margin: 20px;
}
.Paragraph img.Left {
  float: left;
  clear: left;
}
.Paragraph img.Right {
  float: right;
  clear: right;
}
.Paragraph h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 32px;
}
.Paragraph h2.Left {
  clear: right;
}
.Paragraph h2.Right {
  clear: left;
}
.Paragraph p.Right {
  text-align: right;
  clear: left;
}

@media (max-width: 500px) {
  .Paragraph img {
    width: 40vw;
    margin: 10px;
  }
  .Paragraph p {
    font-size: 1em;
  }
}